### BÀI 5.1

In [1]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()

    print(f"SQLite version: {version[0]}")

finally:
    
    connection.close()

SQLite version: 3.45.3

### BÀI 5.2

In [2]:
import sqlite3
connection = sqlite3.connect(":memory:")

try:

    cursor = connection.cursor()
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()

    print(f"SQLite version: {version[0]}")

finally:
    connection.close()

SQLite version: 3.45.3

### BÀI 5.3

In [3]:
import sqlite3
connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

finally:
    connection.close()

Table 'users' created successfully.

### BÀI 5.4

In [4]:
import sqlite3

connection = sqlite3.connect("example.db")

try:

    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    print("Tables in the database:")
    for table in tables:
        print(f"- {table[0]}")

finally:
    connection.close()

Table 'users' created successfully.
Tables in the database:
- users
- sqlite_sequence

### BÀI 5.5

In [5]:
import sqlite3
connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    users_data = [
        ("Alice", 30),
        ("Bob", 25),
        ("Charlie", 35)
    ]
    cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?);", users_data)
    connection.commit()
    print("Records inserted successfully.")

    cursor.execute("SELECT * FROM users;")
    rows = cursor.fetchall()

    print("Records in 'users' table:")
    for row in rows:
        print(row)

finally:
    connection.close()

Table 'users' created successfully.
Records inserted successfully.
Records in 'users' table:
(1, 'Alice', 40)
(3, 'Charlie', 40)
(4, 'Alice', 40)
(5, 'Bob', 40)
(6, 'Charlie', 40)
(7, 'Alice', 40)
(8, 'Bob', 40)
(9, 'Charlie', 40)
(10, 'Alice', 30)
(11, 'Bob', 25)
(12, 'Charlie', 35)

### BÀI 5.6

In [6]:
import sqlite3

connection = sqlite3.connect("example.db")

try:
    cursor = connection.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL
        );
    """)

    print("Table 'users' created successfully.")

    users_data = [
        ("Alice", 30),
        ("Bob", 25),
        ("Charlie", 35)
    ]
    cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?);", users_data)
    connection.commit()
    print("Records inserted successfully.")

    cursor.execute("SELECT COUNT(*) FROM users;")
    record_count = cursor.fetchone()[0]
    print(f"Total records in 'users' table: {record_count}")

finally:
    connection.close()

Table 'users' created successfully.
Records inserted successfully.
Total records in 'users' table: 14